ol {
    background-color: yellow;
}

ol li:nth-child(even) {
    color: green;
}

ol li:nth-child(odd) {
    text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6 {
    color: red;
}

:is(h1, h2, h3, h4, h5, h6) em {
    font-size: 40px;
    border: solid 1px black;
}